/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 11 */

.header {}



html, body {
	margin: 0;
}

.header {
	width: 100%;
	float: left;
}
.logo {
	width: 100px;
	float: left;
}
.navigation{
	width: 200px;
	float: right;
}


.main-content {
	width: 100%;
	min-height: 300px;
	float: left;
}

.sidebar {
	width: 33%; 
	min-height: 300px;
	float: left;
}



.post {
	width: 100%;
	float: left;
}


.image {
	width: 25%;
	float: left;
	min-height: 200px;
}

.post_excerpt {
	width: 65%;
	float: right;
	margin-top: 0;
}
