/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 05 */

.container {
	width: 1024px;
	margin: 0 auto;
}

.header {
	float: left;
}
/* hint! what do you have to add here? */

.logo {
	width: 230px;
	float: left;
}

.navigation {
	width: 714px;
	float: left;
}


.main-content {
	width: 100%;
	float: left;
}
.sidebar {
	width: 230px;
	height: 300px;
	float: left;
}

.sub-content {
	width: 714px;
	height: 150px;
	float: left;
}
.sub-content-2 {
	width: 714px;
	height: 150px;
	float: left;
}

.footer {
	clear: both;
}
