/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 12 */

/* To Do List */
.container {
	width: 50%;
	min-width: 300px;
	margin:  10px auto;
}

.todolist {
    width: 100%;
    /* overflow: auto; */
}

/* Individual Todo */
.todo {
    margin: 0 5%;
    width: 90%;
    border-bottom: 1px solid #F1F1F1;
    overflow: auto;
    padding: 10px;
}


/* Priority icon dot */
.icon {
	width: 10%;
	float: left;
	margin: auto;
}

/* Info of the todo, title and date */
.todo-info {
	width: 80%;
	float: left;
}

/* Title */
.todo-title {
	font-family: "RobotoDraft","Roboto",sans-serif; 
}

/* Date */
.todo-date {
	font-family: "RobotoDraft","Roboto",sans-serif; 
	font-weight: 200;
}

.check{
	width: 10%;
	float: left;
	margin-top: 15px;
}

/* Checkboxes! */
input[type=checkbox] {}
