/* ---------------------------------------------------------- */
/* Float Examples for MakerSquare Front-End Class ----------- */
/* created by Elyse Holladay @elyseholladay ----------------- */
/* ---------------------------------------------------------- */

/* Example 04 */

.container {
	width: 1024px;
	margin: 0 auto;
}


.header {
	float: left;
}
/* hint! you have to contain the floated children elements. */

.logo {
	width: 230px;
	float: left;
}

.navigation {
	width: 714px;
	float: left;
}

.sidebar {
	width: 250px;
	height: 300px;
	float: left;
}

.main-content {
	width: 734px;
	height: 300px;
	float: left;
}

.footer {
	clear: both;
}
